* {
  font-style: normal;
  font-weight: bold;
}

header {
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  padding: 0 0 0 20px;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
}

#hero {
  ;
}
