* {
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
}

header {
  background-image: url(/assets/images/star-wars-backgrounds-25.jpg);
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  padding: 0 0 0 20px;
  color: grey;
  text-shadow: 2px 2px white;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  height: 50px;
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 5px 15px;
  font-weight: lighter;
  display: flex;
}

#hero {
  display: flex;
  background-image: url("./images/DSC_0516.jpg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
  display: flex;
  height: 500px;
  position: relative;
}

#hero h2 {
  display: flex;
  color: grey;
  margin: 0;
  font-size: x-large;
  position: absolute;
  bottom: 0;
  right: 0;
}

section {
  padding: 60px 0;
}

.container {
  display: flex;
  align-items: center;
  width: 95%;
  height: 100px;
  margin: 0 auto;
}

.titles {
  display: flex;
  flex: 1 25%;
  border-right: 10px solid grey;
  font-size: 35px;
  padding: 0 20px;
  text-align: center;
}

.text {
  padding: 0 0 0 20px;
}

#contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact ul li {
  list-style: none;
}

#contact ul li a {
  display: flex;
  font-size: 30px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  font-weight: lighter;
  padding: 0 25px 0 10px;
  color: darkgray;
  text-shadow: 2px 2px black;
}

#contact ul li a:hover {
  color: red;
}